.cotent_row {
  height: 70vh;
  text-align: center;
  .quest_title {
    padding: 10px;
    margin: 10px 10% 10px 10% ;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(13, 218, 245);
    color: white;
  }
  .answer_form {
    font-weight: bolder;
    font-size: 20px;
    margin: 0px 10% 0px 10% ;

    .form_plan {
      .plan {
        padding: 5px;
        color: blue;
        background-color: yellow;
        margin: 5px 10px 5px 10px;
        width: 80%;
      }
    }
    .form_text {
      .text {
        padding: 5px;
        border: solid 1px brown;
        margin: 0px 40px 5px 40px;
        width: 80%;
        height: 400px;
      }
    }
    .btn {

    }
  }
}